
html{
    background-color: #000;
    width: auto;
    height: auto;
        
}

body {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #000000;
    padding: 0 20px 20px 20px;
           
}

#troca_bio{
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    border-color: #272727;
    font-family: "Roboto Mono";
    font-weight: 700;
}

#biografia_title_dante {
    font-family: 'Roboto Mono';
    color:#c71e00;
    font-weight: 700;
    text-align:center;
       
}

.title1{
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
}

#dante{
    display: block;
    padding: 20px 0;
}

.biografia_text1{
    padding: 20px 0;
    font-family: 'Roboto Mono';
    width: auto;
    height: auto;
    color: #ffffff;
    font-weight: 100;
    text-align: left;
    overflow: visible;
    
        
}

#biografia_title_nelo {
    font-family: 'Roboto Mono';
    color:#67f5cad2;
    font-weight: 700;
    text-align:center;
}

.title2{
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
}

#nelo_angelo{
    display: block;
    padding: 20px 0;
    
}

.biografia_text2{
    padding: 20px 0;
    font-family: 'Roboto Mono';
    width: auto;
    height: auto;
    color: #ffffff;
    font-weight: 100;
    text-align: left;
    overflow: visible;
    
        
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #fcfcfc; 
    border-radius: 4px; 
}

::-webkit-scrollbar-track {
    background-color: #272727; 
}

::-webkit-scrollbar-button {
    display: none; 
}

